.world-wrapper {
    max-width: 100%;
    height: 785px;
}

.country {
    transition: 0.2s;
}

.line {
    transition: linear 0.4s;
    opacity: 0;
}

.compassionateDesc, .compassionateIcon {
    display: none;
    opacity: 0;
    position: relative;
    z-index: -110;
}

@media screen and (min-width: 767px) {

    .compassionateDesc {
        transition: opacity 0.3s 0.2s;
    }

    .compassionateIcon {
        transition: opacity 0.4s 0.1s;
    }

    .clinicalTrials:hover + .clinicalTrialsLines .line,
    .approvedIcon:hover + .approvedLines .line,
    .compassionateIcon:hover + .compassionateLines .line,
    .activeLineClick.line {
        opacity: 1;
        z-index: 1;
    }


    .active, .activeClick {
        display: block;
        opacity: 1;
        z-index: 1;
    }

}
