.world-wrapper {
    max-width: 100%;
    height: 785px;
}

.world-wrapper .country {
    transition: 0.2s;
}

.world-wrapper .line {
    transition: 0.4s;
    opacity: 0;
}

.world-wrapper .compassionateDesc,.world-wrapper  .compassionateIcon {
    display: none;
    opacity: 0;
    position: relative;
    z-index: -110;
}


.world-wrapper .compassionateDesc {
    transition: opacity 0.3s 0.2s;
}

.compassionateIcon {
    transition: opacity 0.4s 0.1s;
}

.world-wrapper .clinicalTrials:hover + .clinicalTrialsLines .line,
.world-wrapper .approvedIcon:hover + .approvedLines .line,
.world-wrapper .compassionateIcon:hover + .compassionateLines .line,
.world-wrapper .activeLineClick.line {
    opacity: 1;
    z-index: 1;
}


.world-wrapper .active, .world-wrapper  .activeClick {
    display: block;
    opacity: 1;
    z-index: 1;
}

